html{
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Playfair Display', serif;
}
body{
    // background-color: #0c0c1d;
    background: rgb(23,0,48);
    background: linear-gradient(180deg, rgba(23,0,48,1) 50%, rgba(2,0,36,1) 100%); 
    color: lightgrey;
}

a{
    text-decoration: none;
    color: inherit;
}
section{
    height:100vh;
    scroll-snap-align: center;
}