html{
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    // background-color: #0c0c1d;
    background: rgb(23,0,48);
    background: linear-gradient(180deg, #2D3250, #424769); 
    color: lightgrey;
}

a{
    text-decoration: none;
    color: inherit;
}
section{
    height:100vh;
    scroll-snap-align: center;
}